{% extends 'base.html.twig' %}

{% block title %}New InstrumentSpecifique{% endblock %}

{% block body %}
    <h1>Create new InstrumentSpecifique</h1>

    {{ include('instrument_specifique/_form.html.twig') }}

    <a href="{{ path('instrument_specifique_index') }}">back to list</a>
{% endblock %}
